
  <div class="control-panel">

    <ul>
      <li id="invoke"><a href="#">Invoke Line</a></li>
      <li>
        <select id="author-select">
          <option value="kafka">Kafka</option>
          <option value="whitman">Whitman</option>
          <option value="trump">Trump</option>
          <option value="meditations">Marcus Aurelius</option>
        </select>
      </li>
    </ul>
  </div>
  <div id="text">
    <h2>{{phrase}}<h2>
  </div>
